<header>
  <nav>
    <ul>
      <li>
        <a routerLink="home">
          <span class="medium-weight">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/blocks">
          <span class="medium-weight">Admin</span>
        </a>
      </li>
      <li>
        <a routerLink="about-us">
          <span class="medium-weight">About-us</span>
        </a>
      </li>
      <li>
        <a routerLink="user/profile">
          <span class="medium-weight">My profile</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
