<h1>All colors:</h1>
<section class="main-container grid-container">
  <div class="color-box" style="background-color: white;">$white: #ffffff;</div>
  <div class="color-box" style="background-color:#202040;">$main-dark</div>
  <div class="color-box" style="background-color:#EB6E34;">$main</div>
  <div class="color-box" style="background-color:#bd724f;">$second-main</div>
  <div class="color-box" style="background-color:#039E8E;">$accent</div>
  <div class="color-box" style="background-color:#34EBD8;">$second-accent</div>
  <div class="color-box" style="background-color:#d1a355;">$third-accent</div>
  <div class="color-box" style="background-color:#dfe2e5;">$gray</div>
  <div class="color-box" style="background-color:#e9ebef;">$second-gray</div>
  <div class="color-box" style="background-color:#FAFAFB;">$third-gray</div>
  <div class="color-box" style="background-color:#979FA8;">$fourth-gray</div>
  <div class="color-box" style="background-color:#F7F8FA;">$fifth-gray</div>
  <div class="color-box" style="background-color:#F4F9FF;">$sixth-gray</div>
  <div class="color-box" style="background-color:#E6EAF2;">$seventh-gray</div>
  <div class="color-box" style="background-color:#F9FAFB;">$eight-gray</div>
  <div class="color-box" style="background-color:#D54238;">$red</div>
  <div class="color-box" style="background-color:#F65B51;">$second-red</div>
  <div class="color-box" style="background-color:#4BEB80;">$success</div>
  <div class="color-box" style="background-color:#FF9F45;">$orange</div>
  <div class="color-box" style="background-color:#F3BA2F;">$yellow</div>
  <div class="color-box" style="background-color:#3745ed;">$purple</div>
  <div class="color-box" style="background-color:#12D0DF;">$light-blue</div>

</section>

<h1>Text tags:</h1>
<section class="main-container">
  <h2>H(x) tags:</h2>
  <h1>This is H1 Headline</h1>
  <h2>This is H2 Headline</h2>
  <h3>This is H3 Headline</h3>
  <h4>This is H4 Headline</h4>
  <h5>This is H5 Headline</h5>
  <h6>This is H6 Headline</h6>
  <hr/>
  <h2>Paragraph tag:</h2>
  <p>This is paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae, consequatur corporis
    cupiditate dolor, earum hic impedit incidunt iusto libero, maxime quae quaerat sapiente unde vel? Amet aut beatae
    dolorum est facere iure minus, obcaecati. Ab asperiores, autem consectetur corporis culpa dolor dolores impedit
    incidunt ipsam ipsum labore maiores minima molestiae mollitia odit officia pariatur quis, quo reiciendis rem,
    repellat sit soluta sunt vel veritatis vero vitae! Aspernatur et expedita illo illum neque nisi omnis porro
    praesentium repudiandae sit. Iusto libero magni maiores nam nemo nobis perspiciatis, voluptas. Accusamus accusantium
    aliquid amet, architecto assumenda beatae commodi consequatur deserunt doloremque doloribus dolorum eos esse est eum
    facere fugiat impedit ipsum iste labore magnam magni nisi obcaecati, odio quasi quod quos reiciendis saepe sed
    similique tempore veniam veritatis vero voluptas! A ipsum nobis quaerat voluptatibus? Inventore, modi, voluptatem.
    Architecto assumenda aut cumque doloribus et hic neque recusandae sint tempore unde? Amet consequuntur delectus
    dignissimos distinctio et exercitationem libero maiores, molestiae nobis non porro recusandae repellat sunt ullam
    vel! Cum ea eum ex facere, odio possimus quos ratione repellat repellendus voluptatum. A animi corporis dolorem
    doloremque doloribus eius enim, ipsum itaque nemo quae quo quos, repellendus sequi tempora unde vitae voluptas
    voluptate. Quos.</p>
</section>

<hr/>
<h1>Buttons</h1>
<section class="main-container grid-container">
  <button class="main-button">Basic</button>
  <button class="main-button main-button--md">Basic medium</button>
  <button class="main-button main-button--lg">Basic Large</button>
  <button class="main-button main-button--x-lg">Basic extra Large</button>
  <button class="main-button main-button--lg main-button--main">Main</button>
  <button class="main-button main-button--lg main-button--main-filled">Main filled</button>
  <button class="main-button main-button--lg main-button--accent">Accent</button>
  <button class="main-button main-button--lg main-button--accent-filled">Accent filled</button>
  <button class="main-button main-button--lg main-button--dark">Dark button</button>
  <button class="main-button main-button--lg main-button--light-blue">Light blue button</button>
  <button class="main-button main-button--lg main-button--success">Success button</button>
  <button class="main-button main-button--lg main-button--warning">Warning button</button>
  <button class="main-button main-button--lg main-button--delete">Delete button</button>
</section>

<hr/>
<h1>Links</h1>
<section class="main-container grid-container">
  <a class="default-link">Some default link</a>
  <a class="default-link default-link--dashed">Some highlighted link</a>
</section>
<hr/>
<h1>Inputs (w/form)</h1>
<form class="example-form">
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Company (disabled)</mat-label>
    <input disabled matInput value="Google">
  </mat-form-field>

  <table cellspacing="0" class="example-full-width">
    <tr>
      <td>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Long Last Name That Will Be Truncated</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Address 2</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>
  <table cellspacing="0" class="example-full-width">
    <tr>
      <td>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Postal Code</mat-label>
          <input #postalCode matInput maxlength="5" placeholder="Ex. 94105" value="94043">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div>
    <div class="input-label">How did you know about Orange Caped mentors?</div>
    <div class="main-input-wrapper main-textarea">
                <textarea
                  formControlName="howDoYouKnow"
                  matInput
                  maxlength="256"
                  placeholder="Some silly placeholder"
                  rows="6"
                  type="text"
                ></textarea>
      <span class="main-textarea__counter-symbols">{{this.currentForm.get('howDoYouKnow')!.value.length}}
        / 256 symbols</span>
    </div>
    <div
      *ngIf="propOfForm('howDoYouKnow').invalid && (propOfForm('howDoYouKnow').dirty || propOfForm('howDoYouKnow').touched)"
      class="error-block">
      error here
    </div>
  </div>
</form>
<hr/>
<h1>Modals</h1>
<hr/>

